
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}
a {
  color: var(--text-color);
  text-decoration: dashed;
}
img {
  object-fit: cover;
}
:root {
  --main-color: #ffffff;
  --text-color: #6e6e6e;
  --text-header-color: #2c2c2c;
  --img-background: #e5f4ff;
}
